.header {
    background-image: url(../img/Header%201.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
.header-content {
    position: absolute;
    bottom: 30px;
    color: white;
    line-height: 50px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
}
.header-content h2 {
    font-size: 48px;
    font-weight: bold;
}
.line {
    border: 2px solid #f1ad1d;
    width: 70px;
    margin: 60px auto;
}
.slogan {
    padding: 30px 20px;
    background-color: rgba(0,0,0,0.3);
    text-transform: uppercase;
    border: 1px solid #fff;
}
.slogan-text {
    font-size: 50px;
    font-weight: bold;
}
.text-orange{
    color: orange;
}
.speed {
    background-image: url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
}
.title {
    font-family: 'Montserrat', sans-serif;
    color:  white;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 100px;
}
.title_paragraph {
    font-size: 17px;
    line-height: 40px;
    font-weight: 400;
    text-transform: capitalize;
}
.tree {
    background-image: url(../img/bg3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
.picture {
    background-image: url(../img/bg4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
.info {
    padding: 100px;
    width: 100%;
} 
.info h1{
    font-family: 'Montserrat', sans-serif;
    color:  #4d4943;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
}
.info p {
    font-family: 'Montserrat', sans-serif;
    color:  #4d4943;
    font-size: 17px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}
.name {
    background-repeat: no-repeat;
    display: inline-block;
    height: 50px;
    margin-left: 50px;
}
.icon_one {
    background-image: url(../img/Layer1.png);
    height: 40px;
    width: 208px;
}
.icon_two {
    background-image: url(../img/logo2.png);
    width: 135px;
}
.icon_three {
    background-image: url(../img/Layer3.png);
    width: 175px;
}
.icon_four {
    background-image: url(../img/logo4.png);
    width: 145px;
}

